// colors
$light-gray-color:#f7f7f7;
$dark-gray-color: #777;
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;
$white-color: #fff;
$black-color: #000;

// font size 
$default-font-size: 1.6rem;

// grid
$grid-width:114rem;
$guttar-horizontal: 6rem;
$guttar-vertical: 8rem;
