// colors
$light-gray-color-1:#f7f7f7;
$light-gray-color-2:#eee;
$dark-gray-color: #777;

$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$white-color: #fff;
$black-color: #000;

// font size 
$default-font-size: 1.6rem;

// grid
$grid-width:114rem;
$guttar-horizontal: 6rem;
$guttar-vertical: 8rem;
