.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($black-color, 0.4);
    position: absolute;
    border-radius: 2px;
    z-index: 10;
    outline-offset: 2rem;
    transition: all 0.2s;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 20;
      border-radius: 0;
      box-shadow: 0 2.5rem 4rem rgba($black-color, 0.5);
      outline: 1.5rem solid $primary-color;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);  
  }
}
