.section-about {
  background-color: $light-gray-color;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      rgba($primary-color-light, 0.8),
      rgba($primary-color-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & .row {
    transform: skewY(7deg);
  }
}
